* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

#footer {
  width: auto;
  height: 620px;
  padding: 60px 0px 0px;
  background-color: #031424;
  margin: 0;
}
#footer .left-part {
  color: #bababa;
  margin-left: 40px;
}
#footer .left-part .paragraph {
  margin-top: 25px;
}
#footer .left-part .paragraph p {
  width: 250px;
  color: gray;
}
#footer .left-part .date {
  margin-top: 50px;
  display: flex;
}
#footer .left-part .date i {
  color: orange;
  font-size: 30px;
  margin-top: 4px;
}
#footer .left-part .date .additional-date {
  margin-left: 20px;
}
#footer .left-part .date .additional-date p {
  color: gray;
}
#footer .left-part .date .additional-date a {
  text-decoration: none;
}
#footer .left-part .date .additional-date a h4 {
  color: white;
}
#footer .left-part .date .additional-date a h4:hover {
  color: orange;
  transition: 0.5s;
}
#footer .left-part .mail {
  margin-top: 30px;
  display: flex;
}
#footer .left-part .mail i {
  color: orange;
  font-size: 35px;
  margin-top: 4px;
}
#footer .left-part .mail .additional-mail {
  margin-left: 17px;
}
#footer .left-part .mail .additional-mail p {
  color: gray;
}
#footer .left-part .mail .additional-mail a {
  text-decoration: none;
}
#footer .left-part .mail .additional-mail a h4 {
  color: white;
}
#footer .left-part .mail .additional-mail a h4:hover {
  color: orange;
  transition: 0.5s;
}
#footer .left-part .icons {
  margin-top: 50px;
}
#footer .left-part .icons .facebook {
  width: 47px;
  height: 47px;
  background-color: rgb(248, 248, 250);
  color: rgb(28, 95, 182);
  border-radius: 5px;
  margin-left: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#footer .left-part .icons .facebook:hover {
  background-color: orange;
  color: white;
}
#footer .left-part .icons .youtube {
  width: 47px;
  height: 47px;
  background-color: white;
  color: red;
  border-radius: 5px;
  margin-left: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#footer .left-part .icons .youtube:hover {
  background-color: orange;
  color: white;
}
#footer .left-part .icons .twitter {
  width: 47px;
  height: 47px;
  background-color: white;
  color: rgb(0, 102, 255);
  border-radius: 5px;
  margin-left: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#footer .left-part .icons .twitter:hover {
  background-color: orange;
  color: white;
}
#footer .left-part .icons .ln {
  width: 47px;
  height: 47px;
  background-color: white;
  color: rgb(30, 84, 183);
  border-radius: 5px;
  margin-left: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#footer .left-part .icons .ln:hover {
  background-color: orange;
  color: white;
}
#footer .right-part .about-us {
  position: fixed;
  top: 16%;
  left: 35%;
  transform: translate(-50%, -50%);
}
#footer .right-part .about-us h2 {
  color: white;
}
#footer .right-part .about-us p {
  color: gray;
  font-size: 18px;
  width: 330px;
  padding-top: 10px;
}
#footer .right-part .about-us .arrow-btn {
  margin-top: 20px;
}
#footer .right-part .about-us .arrow-btn a {
  color: white;
  text-decoration: none;
}
#footer .right-part .about-us .arrow-btn a:hover {
  color: orange;
  transition: 0.5s;
}
#footer .information {
  position: fixed;
  top: 6%;
  left: 50%;
  margin-left: 1px;
}
#footer .information h2 {
  color: white;
}
#footer .information ul {
  margin-top: 10px;
}
#footer .information ul li {
  margin-top: 10px;
}
#footer .information ul li a {
  text-decoration: none;
  color: gray;
}
#footer .information ul li a:hover {
  transition: 0.5s;
  color: white;
}
#footer .my-account {
  position: fixed;
  top: 6%;
  left: 60%;
  margin-left: 35px;
}
#footer .my-account h2 {
  color: white;
}
#footer .my-account ul {
  margin-top: 10px;
}
#footer .my-account ul li {
  margin-top: 15px;
}
#footer .my-account ul li a {
  text-decoration: none;
  color: gray;
}
#footer .my-account ul li a:hover {
  color: white;
  transition: 0.5s;
}
#footer .get-newsletter {
  position: fixed;
  top: 6%;
  left: 70%;
  margin-left: 100px;
}
#footer .get-newsletter h2 {
  color: white;
}
#footer .get-newsletter p {
  margin-top: 15px;
  color: gray;
}
#footer .get-newsletter input {
  background-color: #0a2137;
  color: white;
  padding: 10px 18px;
  width: 280px;
  height: 27px;
  border: #031424;
  margin-top: 20px;
}
#footer .get-newsletter .subscribe button {
  background-color: #ffbd27;
  width: 127px;
  height: 38px;
  border-radius: 7px;
  padding: 10px 30px;
  margin-top: 10px;
}
#footer .get-newsletter .subscribe button a {
  color: black;
  text-decoration: none;
}
#footer .get-newsletter .subscribe button:hover {
  background-color: white;
  transition: 0.5s;
}
#footer .directions .order {
  position: fixed;
  top: 39%;
  left: 30%;
  width: 1000px;
  height: 90px;
  background-color: #ffbd27;
  border-radius: 10px;
}
#footer .directions .order h3 {
  color: black;
  margin-top: 33px;
  margin-left: 35px;
}
#footer .directions .app .store {
  position: fixed;
  top: 42%;
  left: 55%;
}
#footer .directions .app .play {
  position: fixed;
  top: 42%;
  left: 65.5%;
}
#footer .directions .trade {
  position: fixed;
  top: 44%;
  left: 78%;
}
#footer .bottom-section {
  margin-top: 0px;
  width: auto;
  height: 90px;
  background-color: #031424;
}
#footer .bottom-section p {
  position: fixed;
  top: 60%;
  left: 40%;
  color: gray;
  margin-top: 0.1px;
  font-size: 18px;
}
#footer .bottom-section p a {
  color: white;
  text-decoration: none;
}

nav .nav_dev .small_info {
  display: flex;
  background-color: red;
}

.elementor_container {
  gap: 120px;
  display: flex;
  font-size: 25px;
}
.elementor_container i {
  display: flex;
  color: blue;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 50px;
}
.elementor_container p {
  color: #777777;
}
.elementor_container .international_shipment {
  border: 1px solid grey;
  position: relative;
  display: flex;
  width: 515px;
  height: 141px;
}
.elementor_container .online_support {
  border: 1px solid grey;
  position: relative;
  display: flex;
  width: 515px;
  height: 141px;
}
.elementor_container .money_return {
  border: 1px solid grey;
  position: relative;
  display: flex;
  width: 515px;
  height: 141px;
}
.elementor_container .member_discount {
  border: 1px solid grey;
  position: relative;
  display: flex;
  width: 515px;
  height: 141px;
}
.elementor_container .international_shipment_text {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}/*# sourceMappingURL=main.css.map */