html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: 100%;
}

input, select, button {
  all: unset;
}

nav .nav_dev .bgcolor_small_info {
  background-color: black;
}
nav .nav_dev .bgcolor_small_info .small_info {
  width: 98%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
}
nav .nav_dev .bgcolor_small_info .small_info img {
  width: 22px;
  height: 22px;
}
nav .nav_dev .bgcolor_small_info .small_info .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav_dev .bgcolor_small_info .small_info .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
nav .nav_dev .bgcolor_small_info .small_info .right .sbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
nav .nav_dev .bgcolor_main_logo {
  background-color: #031424;
}
nav .nav_dev .bgcolor_main_logo .main_logo {
  width: 98%;
  margin: auto;
  height: 100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort {
  background: #071e34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort .sort {
  background-color: #FFBD27;
  color: black;
  padding: 10px;
  cursor: pointer;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort .sort select {
  position: relative;
  width: 100px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort .sort select option {
  margin-top: 20px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100px;
  background-color: aquamarine;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort .search input {
  background-color: initial;
  color: red;
  padding: 10px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort .search .search_button {
  background: #122e48;
  color: white;
  min-height: 40px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_left .search_and_sort .search .search_button img {
  width: 20px;
  height: 20px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_mid img {
  width: 200px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang img {
  width: 12px;
  height: 12px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang div {
  border-radius: 8px;
  padding: 8px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #english {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  color: black;
  background-color: #FFBD27;
  position: relative;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #english .english {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  color: black;
  top: 40px;
  left: 0px;
  background-color: white;
  width: 100px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #english .english li {
  text-align: center;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #english .english li:hover {
  color: #FFBD27;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #english .active {
  height: inherit;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #usd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  color: black;
  background-color: #FFBD27;
  position: relative;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #usd .usd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  color: black;
  top: 40px;
  left: 0px;
  background-color: white;
  width: 60px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #usd .usd li {
  text-align: center;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #usd .usd li:hover {
  color: #FFBD27;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .lang #usd .active {
  height: inherit;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .icon img {
  width: 26px;
  height: 26px;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .icon .basket_icon {
  position: relative;
}
nav .nav_dev .bgcolor_main_logo .main_logo .m_right .lang_and_icon .icon .basket_icon #basket_detel_count {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -16px;
  left: 10px;
  background-color: #FFBD27;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */