section{
    padding-top: 40px;
}
// for international-shipment section
.elementor_container {
   
    display: flex;
    font-size: 15px;
    justify-content: center;
    gap: 15px;

    i {
        display: flex;
        color: blue;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        font-size: 50px;
    }

    p {
        color: #777777;
    }

    .international_shipment_text {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .international_shipment_text {
        justify-content: center;
        width: 160px;
    }

    .left {
        justify-content: center;
        gap: 15px;
        display: flex;
        // flex-direction: column;



        .international_shipment {
            border: 1px solid grey;
            // position: relative;
            display: flex;
            // width: 515px;
            height: 141px;
            box-shadow: 2px 4px grey;
        }

        .online_support {
            border: 1px solid grey;
            // position: relative;
            display: flex;
            // width: 515px;
            height: 141px;
            box-shadow: 2px 4px grey;
        }
    }

    .right {
        display: flex;
        justify-content: center;
        gap: 15px;


        .money_return {
            border: 1px solid grey;
            // position: relative;
            display: flex;
            // width: 515px;
            height: 141px;
            box-shadow: 2px 4px grey;
        }

        .member_discount {
            border: 1px solid grey;
            // position: relative;
            display: flex;
            // width: 515px;
            height: 141px;
            box-shadow: 2px 4px grey;
        }

        
    }
}
@media only screen and (max-width: 992px) {
    .elementor_container {
        
            // gap: 120px;
            display: flex;
            font-size: 25px;
            justify-content: center;
            gap: 15px;
        
            i {
                display: flex;
                color: blue;
                justify-content: center;
                align-items: center;
                padding-left: 20px;
                font-size: 50px;
            }
        
            p {
                color: #777777;
            }
        
            .international_shipment_text {
                padding-left: 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }
        
            .international_shipment_text {
                width: 160px;
            }
        
            .left {
                justify-content: center;
                gap: 15px;
                display: flex;
                flex-direction: column;
        
        
        
                .international_shipment {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
        
                .online_support {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
            }
        
            .right {
                display: flex;
                justify-content: center;
                gap: 15px;
                flex-direction: column;
        
                .money_return {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
        
                .member_discount {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
        
                
            }
        }
    }
@media only screen and (max-width: 425px) {
    .elementor_container {
            flex-direction: column;
        
            // gap: 120px;
            display: flex;
            font-size: 25px;
            justify-content: center;
            gap: 15px;
        
            i {
                display: flex;
                color: blue;
                justify-content: center;
                align-items: center;
                padding-left: 20px;
                font-size: 50px;
            }
        
            p {
                color: #777777;
            }
        
            .international_shipment_text {
                padding-left: 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }
        
            .international_shipment_text {
                width: 160px;
            }
        
            .left {
                justify-content: center;
                gap: 15px;
                display: flex;
                flex-direction: column;
        
        
        
                .international_shipment {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
        
                .online_support {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
            }
        
            .right {
                display: flex;
                justify-content: center;
                gap: 15px;
                flex-direction: column;
        
                .money_return {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
        
                .member_discount {
                    border: 1px solid grey;
                    // position: relative;
                    display: flex;
                    // width: 515px;
                    height: 141px;
                }
        
                
            }
        }
    }
 

// for Featured Products section
.featured_products_title_part {
    .featured_title_text_part {
        display: flex;

        .featured_text_left {
            margin-left: 20px;
        }

        .all_products {
            margin-right: 20px;
            display: flex;
            margin-left: 1215px;
        }
    }

   
    .hard_part {
        display: flex;
        align-items: center;
        justify-content: center;

        .hard_disk {

            margin-left: 20px;
            width: 280px;
            margin-right: 10px;
            border: 1px solid grey;
            box-shadow:2px 4px #777777;
           

            .product_img {
                // width: 100px;
                width: 275px;
                height: 275px;


                // img {
                //    max
                // }
            }

        }

        .product_text {
            .gaming_text {
                color: grey;
                justify-content: center;

            }

            .product_icon_pElement {
                display: flex;
                color: blue;
            }
        }
    }
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;


img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}
}
@media only screen and (max-width: 992px) {
    .featured_products_title_part {
        .featured_title_text_part {
            display: column;
    
            .featured_text_left {
                margin-left: 20px;
            }
    
            .all_products {
                margin-right: 20px;
                display: column;
                margin-left: 1215px;
            }
        }
    
       
        .hard_part {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .hard_disk {
    
                margin-left: 20px;
                width: 280px;
                margin-right: 10px;
                border: 1px solid grey;
                box-shadow:2px 4px #777777;
               
    
                .product_img {
                    // width: 100px;
                    width: 275px;
                    height: 275px;
    
    
                    // img {
                    //    max
                    // }
                }
    
            }
    
            .product_text {
                .gaming_text {
                    color: grey;
                    justify-content: center;
    
                }
    
                .product_icon_pElement {
                    display: flex;
                    color: blue;
                }
            }
        }
    }
    
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
    
    
    img:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
    }
  }


.container {
    justify-content: center;
    display: flex;
    gap: 14px;
    font-size: 20px;
    top: 30px;
}

.shipping-payment-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px border #73b0d3;
    background-color: aliceblue;
    border-radius: 5%;
    width: 350px;
    height: 250px;

    .image {
        width: 100%;
    }
}

.shipping-payment-product {
    width: 750px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px border #73d3d3;
    background-color: aliceblue;
    border-radius: 5%;
}

.text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container_superdeals {
    display: flex;

    .super_deals {
        display: flex;
    }
}